---
---
@import "minimal-light";


html, html[data-theme="light"] {
	--link-color: #0070c9;
  --main-background-color: hsl(0, 0%, 100%);
  --main-text-color: #595959;
  --heading-color: #043361;
  --hyperlink-color: #39c;
  --strong-color: #212121;
  --dtth-color:#454545;
  --paper-color: hsl(0, 0%, 90%);
  --paper-color-less: hsl(0, 0%, 97%);
}

html[data-theme="dark"] {
  --link-color: #64d2ff;
  --main-background-color: hsl(235, 15%, 15%);
  --main-text-color: #d9dade; 
  --heading-color: #1273a0;
  --hyperlink-color: #94c1ee;
  --strong-color: #a0a3b1;
  --dtth-color: #3db7f0;
  --paper-color: hsl(235, 15%, 23%);
  --paper-color-less: hsl(235, 15%, 18%);
}

body {
	background-color: var(--main-background-color);
	color: var(--main-text-color);
}
h1, h2, h3, h4, h5, h6 {
  color:var(----heading-color);
}
a {
  color: var(--hyperlink-color);
}
a:hover {
  color: #069;
}
strong {
  color: var(--strong-color);
}
dt, th{
  color: var(--dtth-color);
}


.container {
  position:relative; 
}
@media print, screen and (max-width: 960px) {
  .container {
    margin-top: 45px;
    background-color: var(--main-background-color); 
  }
  .header{background-color: var(--main-background-color); }
  .page{ margin-top: 45px;background-color: var(--main-background-color); }
}

code {
  font-size: 12px;
  font-family: monospace;
  color: rgb(0,1,0);
  background-color: var(--paper-color-less);
}


// index.html
.main-hr {
  border: none;
  border-top: 3px double;
  overflow: visible;
  text-align: center;
  height: 5px;
  background-color: var(--paper-color);
}
.projects-hr {
  border: none;
  width: 90%;
  margin-left: 5%;
  border-color: #30C8EB;
}
.nocolor-hr {
  border-top: 2px solid ;
  width: 0%;
}
.homepage {
  display: block;
  background-color: var(--paper-color);
  margin-bottom: auto;
  align-items: center;
}
.homepage h1, h3{
  text-shadow: 1px 1px #30C8EB;
  margin-left: 5px;
}

.homepage h3{
  text-shadow: 0.5px 0.5px #30C8EB;
}
.homepage-post {
  margin: 10px;
  background: var(--paper-color-less);
}

// _layout post
.post-tag{
  align-items: center;
  background-color: #30C8EB;
  color: white;
  padding: 5px 5px;
  font: 12px sans-serif;
}


// music-recommender
.mur-tbl {
  width: 100%;
  background: var(--paper-color-less);
  text-align: center;
}
.mur-tbl td{
  text-align: center;
}




