<hr>
<a name="Catalogue"><h2 id="catalogue">Catalogue</h2></a>

<a name="certifications"><h3 id="certifications">Certifications</h3></a>
<ul>
<li><a href="#Amazon">Amazon QuickSight</a></li>
<li><a href="#Meta">Meta Data Engineer</a></li>
</ul>
<h3 id="deep-learning-machine-learning">Deep Learning/Machine Learning</h3>
<li><a href="#Sentiment-Analysis-and-Music-Recommendations-Systems">Sentiment Analysis and Music Recommendations Systems</a></li>
<li><a href="#Reviews-Sentiment-Analyzer">Reviews Sentiment Analyzer</a></li>
<li><a href="#Local-Frog-Predictor">Local Frog Predictor</a></li>
</ul>
<h3 id="software-engineering">Software Engineering</h3>
<h5 id="javascript">JavaScript</h5>
</li>
<li><a href="#Blog-App"><strong>Full Stack</strong> Blog App with <em>React, Node.js, Express, MySQL</em></a><h5 id="python">Python</h5>
</li>
<li><a href="#flask-blog-post-web-app">Flask Blog Post Web App</a></li>
<li><a href="#RESTful-messenger-web-app">RESTful Messenger Web App</a><h5 id="java">Java</h5>
</li>
<li><a href="#Gitlet"><strong>Back End</strong> Gitlet Version Control System</a></li>
<li><a href="#Blocks-Game">Blocks Puzzle Game</a></li>
<li><a href="#Enigma-Machine">Enigma Cipher Machine</a></li>
<li><a href="#Ataxx-Game">Ataxx Strategy Game</a></li>
</ul>









