<article class="homepage">
    <h1 id="certifications">Certifications</h1>
    <article class="homepage-post">
        <h3 id="amazon">Amazon</h3>
        <ul>
        <li><a href="https://github.com/annetta-zheng/annetta/files/11357701/137_3_3110879_1678134335_AWS.Course.Completion.Certificate.pdf">AWS - Introduction to Amazon Quicksight.pdf</a></li>
        <li><a href="https://github.com/annetta-zheng/annetta/files/11357703/41_3_3110879_1678142217_AWS.Course.Completion.Certificate.pdf">AWS - Visualizing with Quicksight.pdf</a></li></ul>
    </article>
    <article class="homepage-post">
        <h3 id="meta">Meta</h3>
        <ul>
        <li><a href="https://github.com/annetta-zheng/annetta/files/11357723/Coursera.6APZDH8JTYRQ.pdf">Meta - Introduction to Data Engineer.pdf</a></li>
        </ul>
    </article>
    <hr class="nocolor-hr">
</article>

