<article class="homepage">
    <h1 id="certifications">Certifications</h1>
    <article class="homepage-post">
        <h3 class="cert-title">Amazon -- AWS</h3>
        <div class="cert-container">
        <a class="cert" href="https://github.com/annetta-zheng/annetta/files/11357701/137_3_3110879_1678134335_AWS.Course.Completion.Certificate.pdf">Amazon Quicksight.pdf</a>
        <a class="cert" href="https://github.com/annetta-zheng/annetta/files/11357703/41_3_3110879_1678142217_AWS.Course.Completion.Certificate.pdf">Quicksight Visualizing.pdf</a>
        </div>  
    </article>
    <article class="homepage-post">
        <h3 class="cert-title">Meta -- Data Engineer</h3>
        <div class="cert-container">
        <a class="cert" href="https://coursera.org/share/9fc7ccb1d2598f92bc94aa4048d98d23">Back-End</a>
        <a class="cert" href="https://coursera.org/share/4cb91c81f41b004f7d08e387725b3d33">Databases</a>
        <a class="cert" href="https://coursera.org/share/850f2713e7705cba9511981b1c4ef508">Version Control</a>
        
        </div>
    </article>
    <article class="homepage-post">
        <h3 class="cert-title">HackerRank -- Intermediate | Advanced</h3>
        <div class="cert-container">
        <a class="cert" href="https://www.hackerrank.com/certificates/74545498c888">SQL</a>
        <a class="cert" href="https://www.hackerrank.com/certificates/5b779741e8d5">REST API</a>
        <a class="cert" href="https://www.hackerrank.com/certificates/dde38d916d61">CSS</a>

        </div>
    </article>
    <hr class="nocolor-hr">
</article>
<style>
    .cert-container {
        margin-top: -10px;
        display: flex;
        justify-items: center;
    }
    .cert {
        border: 1px solid;
        background-color: rgb(0, 178, 24);
        padding: 2px;
        color: white;
        margin: 5px;
    }
</style>
