<small><a href="{{page.url}}" id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;"></a></small>
<!--  -->


<script>
    const toggle = document.getElementById('toggle');
    const body = document.body;

    toggle.addEventListener('input', (e) => {
        const isChecked = e.target.checked;
        
        if(isChecked) {
            body.classList.add('dark-theme');
        } else {
            body.classList.remove('dark-theme');
        }
    });
</script>

<script src="./js/theme-switch.js"></script>