<div class="dark-toggle">
    <strong><small><a href="{{ site.url }}{{ site.baseurl }}{{page.url}}" id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer; border: 1px dashed gray;padding-inline: 5px;padding-block: 5px;"></a></small></strong>

    <script>
        const toggle = document.getElementById('toggle');
        const body = document.body;
        if (toggle !== null) {
            toggle.addEventListener('input', (e) => {
                const isChecked = e.target.checked;
                
                if(isChecked) {
                    body.classList.add('dark-theme');
                } else {
                    body.classList.remove('dark-theme');
                }
            })
        };

    </script>

    <script src="{{ site.url }}{{ site.baseurl }}/js/theme-switch.js"></script>
</div>