<div style="position: static;font-family: 'Chelsea Market';">

{% assign rawtags = "" %}
{% for post in site.posts %}
  {% assign ttags = post.tags | join:'|' | append:'|' %}
  {% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}
<p>
  {% for tag in tags %}
  <a href="{{site.url}}{{site.baseurl}}/tags/{{ tag }}/" style="font-size: 11px">
      {{ tag}} |
  </a>
  {% endfor %}
</p>
<!-- style="font-size: {{ tag[1] | size | times: 2 | plus: 10 }}px"> -->

<div class="social-icons">
    {% if site.google_scholar %}
    <a style="margin: 0 5px 0 0" href="{{ site.google_scholar }}">
      <i class="ai ai-google-scholar" style="font-size:1.2rem"></i>
    </a>  
    {% endif %}

    {% if site.cv_link %}
    <a style="margin: 0 5px 0 0" href="{{ site.cv_link }}">
      <i class="ai ai-cv" style="font-size:1.3rem;"></i>
    </a>
    {% endif %}

    {% if site.github_link %}
    <a style="margin: 0 5px 0 0" href="{{ site.github_link }}">
      <i class="fab fa-github"></i>
    </a>
    {% endif %}

    {% if site.linkedin %}
    <a style="margin: 0 5px 0 0" href="{{ site.linkedin }}">
      <i class="fab fa-linkedin"></i>
    </a>
    {% endif %}

    {% if site.twitter %}
    <a style="margin: 0 0 0 0" href="{{ site.twitter }}">
      <i class="fab fa-twitter"></i>
    </a>
    {% endif %}
    </div>
<p><small>This project is maintained by Annetta.</p>
</div>
