<div id="nav-bar" >
  <ul >
    <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/categories">Categories</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/tags">Tags</a></li>
  </ul>
</div>
<style>
  #nav-bar {
    margin: 0;   
    padding: 0;  
    width: 100%;
    display: flex;
    justify-content: center;
    color: none;
    border: 0px white;
  }
  #nav-bar ul {
    display: flex;
    align-content: center;
    align-items: center;
    text-align:center;
    height: 20px; 
    border: 0px white;         
  }
  #nav-bar ul li {
    width: 50%;
    margin: 0 0;
    list-style: none;
    text-align: center;
    white-space: nowrap;
    background-color:#30C8EB;
    border-radius: 0%;
    padding: 0 0;
    height: 30px;
    border: 2px solid white;
  }
  #nav-bar ul li:nth-child(n+2) {
    margin-left: -2px;
  }
  #nav-bar ul li a {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 0px; 
    height: 26px;
    text-align:center;
    border-radius: 0%;
    font-weight: bold;
  }
</style>
<!-- <script>
const nav = document.querySelector('.nav')
window.addEventListener('scroll', fixNav)

function fixNav() {
    if(window.scrollY > nav.offsetHeight + 150) {
        nav.classList.add('active')
    } else {
        nav.classList.remove('active')
    }
}
</script> -->
      