<div class="project">
<h3 id="blog-app">Blog App</h3>
<p><a href="https://github.com/annetta-zheng/Full-Stack-Blog-App-with-React-Node.js-MySQL" title="Click for Repo!"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&amp;logo=github&amp;logoColor=white" alt=""></a> A full stack Blog Application using React components on the front end, with a CRUD Application using NodeJS + Express + MySQL on the back end.</p>
<h4 id="key-features">Key Features</h4>
<ul>
<li>Account Registeration: allow users to register and upload their profile.</li>
<li>User authentication: only authorized users can create, update, and delete blog posts. </li>
<li>Blog Posts: users can write and update with rich text editors and pictures, and delete their blog posts.</li>
<li>Customized View: users can view the posts filtered by categories and get posts recommendation within the same category. </li>
<li>Responsive View: pages adapt to different screen sizes and orientations.</li>
</ul>
<p><img align="center" width="800" alt="image" src="https://user-images.githubusercontent.com/67286396/234439050-2da14148-ae4c-4d76-a797-e7a0ddfe6473.png"></p>


<hr>
<h3 id="flask-blog-post-web-app">flask blog post web app</h3>
<p><a href="https://github.com/annetta-zheng/flask-blog-post-web-app" title="Click for Repo!"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&amp;logo=github&amp;logoColor=white" alt=""></a> A Flask landing page with SQLAlchemy displaying blog posts and allowing users to login and register.
<img align="center" width="1000" alt="image" src="https://user-images.githubusercontent.com/67286396/199391099-ee012a6b-7faa-4627-896c-4beaaa1e6735.png"></p>


<hr>
<h3 id="restful-messenger-web-app">RESTful messenger web app</h3>
<p><a href="https://github.com/annetta-zheng/web-messenger-app" title="Click for Repo!">Code</a> RESTful API Project with Redis Nameko.</p>


<hr>
<h3 id="sentiment-analysis-and-music-recommendations-systems">Sentiment Analysis and Music Recommendations Systems</h3>
<p><a href="https://github.com/annetta-zheng/music-recommender" title="Click for Repo!"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&amp;logo=github&amp;logoColor=white" alt=""></a></p>
<p>Sentiment Analysis and Music Recommendations Systems Description: a review-based recommendation system with natural language processing (NLP) and Collaborative Filtering on 1.5M review data and 75k music meta data, utilizing Python via keras framework on an AWS EC2 instance.</p>
<h4 id="key-steps-">Key Steps:</h4>
<table>
  <tr>
    <td colspan="2" align="center">Step 1. Convolutional Neural Network</td>
    <td align="center">Step 2. Autoencoder</td>
    <td align="center">Step 3. Deep Neural Network</td>
  </tr>
  <tr>
    <td colspan="2" align="center"> 
      <sub>with NLTK for Sentiment Analysis<br>
      Results: 91.4% Test Accuracy</sub>
    </td>
    <td align="center"> 
      <sub>with SGD<br>Dimension Reduction</sub>
    </td>
    <td align="center"> 
      <sub>with Regularization for the recommender<br>
      Results: MAE below 0.4 &amp; MSE below 40</sub>
    </td>
  </tr>
  <tr>
    <td align="center"><sub><sub>Most significant token in review</sub></sub></td>
    <td align="center"><sub><sub>Most significant token in summary</sub></sub></td>
    <td align="center" rowspan="3"><img align="center" width="225" alt="image" src="https://user-images.githubusercontent.com/67286396/204599574-3ae71217-c4e7-40e4-a336-ee15429344c3.png"></td><br>    <td align="center" rowspan="3"><img align="center" width="500" alt="image" src="https://user-images.githubusercontent.com/67286396/204600119-0ae46ce1-43fb-4221-9ae4-3b4507817285.png"></td><br>  </tr>
  <tr>
    <td align="center"><img align="center" width="215" alt="image" src="https://user-images.githubusercontent.com/67286396/204599154-f5964ddd-9138-49c9-8e1b-fd5b70d0f30f.png"></td>
    <td align="center"><img align="center" width="215" alt="image" src="https://user-images.githubusercontent.com/67286396/204599389-b72f1da1-b877-4eab-88c0-74d2500b6908.png"></td>
  </tr>
  <tr>
  <td align="center" colspan="2"><img align="center" width="430" alt="image" src="https://user-images.githubusercontent.com/67286396/204599514-0c6ab305-e115-403f-bf68-8135e06a339b.png"></td>
  </tr>
</table>



<hr>
<h3 id="reviews-sentiment-analyzer">Reviews Sentiment Analyzer</h3>
<p><a href="https://github.com/annetta-zheng/sentiment_analysis" title="Click for Repo!"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&amp;logo=github&amp;logoColor=white" alt=""></a> A basic sentiment analyzer with deep learning.</p>
<ul>
<li>Results:<ul>
<li>Accuracy on the test set using the original dictionary: 80.20%</li>
<li>Accuracy on the test set using the dictionary with stop words removed: 80.80%</li>
</ul>
</li>
</ul>
<details><summary><h4>Results under different algorithms</h4><sub> Click to expand</sub></summary>

For the perceptron algorithm: best combination of T = 25, with validation accuracy = 79.40%
<img src="https://user-images.githubusercontent.com/67286396/170519190-2d1c8fb1-4c49-4dd1-a3b9-6c594bce2842.png" alt="Figure_4">

For the average perceptron algorithm: best combination of T = 25, with validation accuracy = 80.00%
<img src="https://user-images.githubusercontent.com/67286396/170519252-46f6b01b-04f5-49e2-ae0c-9fe2f4b33f7f.png" alt="Figure_5">

For the pegasos algorithm: best combination of T = 25 \lambda = 0.01, with validation accuracy = 80.60%
<img src="https://user-images.githubusercontent.com/67286396/170519444-18c2d7d5-2fbd-47d2-a296-e35c39b1bf3d.png" alt="Figure_6">
<img src="https://user-images.githubusercontent.com/67286396/170519453-ef692e96-dd75-4c04-a340-a28d0762a820.png" alt="Figure_7">
</details>  



<hr>
<h3 id="local-frog-predictor">Local Frog Predictor</h3>
<p><a href="https://github.com/annetta-zheng/Local-Frog-Predictor/blob/main/challenge.ipynb" title="Click for Repo!"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&amp;logo=github&amp;logoColor=white" alt=""></a> - EY 2022 Better Working World Data Challenge, Rank 74/1222. </p>
<p>A species distribution model of one species of frog. Species distribution models are one of the most widely used ecological tools, a cornerstone in many countries worldwide of environmental regulation and conservation.
<img align="center" width="1000" alt="image" src="https://user-images.githubusercontent.com/67286396/171982699-807c6615-083e-420f-8fe9-0c63f1f9754b.png"></p>


<hr>
<h3 id="blocks-game">Blocks Game</h3>
<p><a href="https://github.com/annetta-zheng/Blocks" title="Click for Repo!"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&amp;logo=github&amp;logoColor=white" alt=""></a> A Strategic Game. Topics covered: Object-oriented programming (OOP), Data Structures.
Play Here: <a href="https://www.cbc.ca/kidscbc2/content/games/blocks-puzzle/index.html" title="Click to Play!">Game</a></p>
<p><img src="https://inst.eecs.berkeley.edu/~cs61b/sp22/materials/proj/proj0/img/figure1.png" alt="image">
<img src="https://user-images.githubusercontent.com/67286396/157542546-95e9e541-91c9-4b81-9908-22c476265729.png" alt="image">  </p>


<hr>
<h3 id="enigma-machine">Enigma Machine</h3>
<p><a href="https://github.com/annetta-zheng/enigma" title="Click for Repo!"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&amp;logo=github&amp;logoColor=white" alt=""></a> The <a href="https://en.wikipedia.org/wiki/Enigma_machine" title="Click for Details!">Germany encryption machine</a> used in WWII. Topics covered: Object-oriented programming (OOP), Data Structures.</p>
<p>   The Settings Line and Input: </p>
<pre><code>      * B III II I maa (<span class="hljs-name">az</span>) (<span class="hljs-name">mn</span>)
      asb
</code></pre><p>   Output: </p>
<pre><code>```
  wtt
```
</code></pre><p>   Configuration: </p>
<pre><code>    abcdefghijklmnopqrstuvwxyz
    <span class="hljs-number">4</span> <span class="hljs-number">3</span>
    I Ma     (<span class="hljs-name">wordle</span>) (<span class="hljs-name">is</span>) (<span class="hljs-name">fun</span>)
    II Mb    (<span class="hljs-name">tears</span>) (<span class="hljs-name">boing</span>) (<span class="hljs-name">lucky</span>)
    III Mm   (<span class="hljs-name">quack</span>) (<span class="hljs-name">froze</span>) (<span class="hljs-name">twins</span>) (<span class="hljs-name">glyph</span>)
    B R      (<span class="hljs-name">az</span>) (<span class="hljs-name">by</span>) (<span class="hljs-name">cx</span>) (<span class="hljs-name">dw</span>) (<span class="hljs-name">ev</span>) (<span class="hljs-name">fu</span>)
             (<span class="hljs-name">gt</span>) (<span class="hljs-name">hs</span>) (<span class="hljs-name">ir</span>) (<span class="hljs-name">jq</span>) (<span class="hljs-name">kp</span>) (<span class="hljs-name">lo</span>) (<span class="hljs-name">mn</span>)
</code></pre>

<hr>
<h3 id="ataxx-game">Ataxx Game</h3>
<p><a href="https://github.com/annetta-zheng/Ataxx" title="Click for Repo!"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&amp;logo=github&amp;logoColor=white" alt=""></a> Minmax algorithm, alpha-bata pruning.</p>
<p>
      <img align="left" height="120" src="https://user-images.githubusercontent.com/67286396/162055039-29887726-605e-4cf1-a4e8-524502033996.png">
      <br><br>At the beginning of the game, we start with pieces in all four corners. <br><br><br>
There are two possible kinds of moves: <br><img align="right" height="120" src="https://user-images.githubusercontent.com/67286396/162054986-8001f120-07af-47fa-a00d-855faa3fb8fb.png">
1. Extending - you can extend from a piece of your own color by laying down a new piece of your color in an empty square next to that existing piece (horizontally, vertically, or diagonally).<br>
2. Jumping - you can jump by moving a piece of your own color to an empty, non-adjacent square that is no more than two rows and no more than two columns distant.
<br><br><br> <img align="right" height="120" src="https://user-images.githubusercontent.com/67286396/162054882-7bc8ccb2-7356-49ce-a2c7-e528a48ab390.png"> To make things even more interesting, you can place a set of blocks symmetrically about the center of the board before playing. These are pre-filled squares that may never be moved to (the blocks themselves never move). Setting blocks is only possible at the start of the game. The illustration below is an example of a starting configuration with 10 blocks. Each block is always reflected across the middle row and the middle column. In other words, there is symmetry both horizontally and vertically for any block that is placed. No block may be placed in the four corner squares, since the initial configuration has pieces there.
</p>



<hr>
<h3 id="gitlet">Gitlet</h3>
<p><a href="https://github.com/annetta-zheng/Gitlet" title="Click for Repo!"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&amp;logo=github&amp;logoColor=white" alt=""></a> A <a href="https://gitlet.cs61bee.org" title="Click for Details!">version-control system</a> is essentially a backup system for related collections of files. </p>
<p>The main functionality that Gitlet supports is:</p>
<ol>
<li>Saving the contents of entire directories of files. In Gitlet, this is called committing, and the saved contents themselves are called commits.</li>
<li>Restoring a version of one or more files or entire commits. In Gitlet, this is called checking out those files or that commit.</li>
<li>Viewing the history of your backups. In Gitlet, you view this history in something called the log.</li>
<li>Maintaining related sequences of commits, called branches.</li>
<li>Merging changes made in one branch into another.</li>
<li>Going remote, allowing collaboration with other people over the internet. </li>
</ol>
<details><summary><h4>Internal Structure</h4><sub> Click to expand</sub></summary>

Commits: <img align="right" width="800" alt="image" src="https://user-images.githubusercontent.com/67286396/235281144-40d73837-3f8d-4875-a56f-0ae5edd419d1.png">
Branch: <img align="right" width="800" alt="image" src="https://user-images.githubusercontent.com/67286396/235281161-679d7983-5f40-4afd-b5cf-44ccb2b42601.png">

</details>

<details><summary><h4>Commands, Outputs, and Edge Cases</h4><sub> Click to expand</sub></summary>

By starting up the program <code>java gitlet.Main init</code> , it will create a repo directory and an initial commit through the command init(). Based on the command run, structure of files will be saved.
      <details open><summary>All Commands<sub> Click to expand</sub></summary>

      <code>1. java gitlet.Main add [file name]
      2. java gitlet.Main commit [message]
      3. java gitlet.Main rm [file name]
      4. java gitlet.Main log
      5. java gitlet.Main global-log
      6. java gitlet.Main find [commit message]
      7. java gitlet.Main status
      8. java gitlet.Main checkout -- [file name]
      9. java gitlet.Main checkout [commit id] -- [file name]
      10. java gitlet.Main checkout [branch name]
      11. java gitlet.Main branch [branch name]
      12. java gitlet.Main rm-branch [branch name]
      13. java gitlet.Main reset [commit id]
      14. java gitlet.Main merge [branch name]</code> 


</details close><br>
<details open><summary>Sample Outputs<sub> Click to expand</sub></summary>

      Input: <code>java gitlet.Main log</code>

          <code>===
           commit a0da1ea5a15ab613bf9961fd86f010cf74c7ee48
           Date: Thu Nov 9 20:00:05 2017 -0800
           A commit message.

           ===
           commit 3e8bf1d794ca2e9ef8a4007275acf3751c7170ff
           Date: Thu Nov 9 17:01:33 2017 -0800
           Another commit message.

           ===
           commit e881c9575d180a215d1a636545b8fd9abfb1d2bb
           Date: Wed Dec 31 16:00:00 1969 -0800
           initial commit</code>

      Input: <code>java gitlet.Main status</code>

        <code>=== Branches ===
        *master
        other-branch

        === Staged Files ===
        wug.txt
        wug2.txt

        === Removed Files ===
        goodbye.txt

        === Modifications Not Staged For Commit ===
        junk.txt (deleted)
        wug3.txt (modified)

        === Untracked Files ===
        random.stuff</code>

</details close><br>
<details><br>      <summary>Edge Cases<sub> Click to expand</sub></summary>

1. Conflict Files
Any files modified in different ways in the current and given branches are in conflict. “Modified in different ways” can mean that the contents of both are changed and different from other, or the contents of one are changed and the other file is deleted, or the file was absent at the split point and has different contents in the given and current branches. In this case, replace the contents of the conflicted file with

  <code>&lt;&lt;&lt;&lt;&lt;&lt;&lt; HEAD
  contents of file in current branch
  =======
  contents of file in given branch
  &gt;&gt;&gt;&gt;&gt;&gt;&gt;</code>

Once files have been updated according to the above, and the split point was not the current branch or the given branch, merge automatically commits with the log message Merged [given branch name] into [current branch name]. Then, if the merge encountered a conflict, print the message Encountered a merge conflict. on the terminal (not the log). Merge commits differ from other commits: they record as parents both the head of the current branch (called the first parent) and the head of the branch given on the command line to be merged in.

2. Criss-cross Merges
<img align="center" width="1000" alt="image" src="https://user-images.githubusercontent.com/67286396/167206258-25b6e353-5ca9-4052-8121-190b188be1dd.png">

 - Choose the candidate split point that is closest to the head of the current branch (that is, is reachable by following the fewest parent pointers along some path). 
 - If multiple candidates are at the same closest distance, choose any one of them as the split point. (We will make sure that this only happens in our test cases when the resulting merge commit is the same with any of the closest choices.)

</details><br></details>







</div>