<div id="search-bar">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="/js/lunr.min.js"></script>
  <script src="/js/underscore-min.js"></script>
  <nav>
    <input type="search" id="search" placeholder="Search" style="width: 80%;
        height: 30px;
        color: var(--main-text-color);
        background-color: rgba(187, 205, 226, 0.2);
        line-height: 35px;
        padding:0px 16px;
        border: 1px solid #c0c0c0;
        font-size: 16px;
        font-weight: bold;
        border-radius: 17px;
        outline: none;
        box-sizing: border-box;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);">
    <a href="#" id="clear_search" class="hidden">Clear</a>
  </nav>
  {% if site.post.length == 0 %}
    <p>No Results.</p>
  {%else%}
    <ul class="hidden posts">
      {% for post in site.posts %}
      <li id="{{ post.url }}" class="hidden doc">
        <a href="{{ post.url }}" class="hidden doc_title">{{ post.title }}</a>
        <span class="hidden doc_content">{{ post.content }}</span>
        <!-- <span class="hidden doc_tags">{{ post.tags }}</span> -->
      </li>
      {% endfor %}
    </ul>
  {% endif %}
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Lato:300:latin', 'Averia+Serif+Libre:700:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); </script>
    <script src="/js/search.js"></script>
</div>
