<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {%- include components/head.html -%}
  <body>
    {%- include components/back-to-top.html -%}
    <header class="header"> {%- include components/main-header.html -%} </header>
    <div class="container">
      {%- include components/wrapper.html -%}
      <!-- <div class="content" style="position:static;">
        {%- include pages/catalogue.html -%}
      {%- include pages/projects.html -%} 
     {%- include pages/certifications.html -%} 
      </div> -->
    </div>
  </body>
  <script src="{{ site.baseurl }}/js/scale-fit.js"></script>
</html>
