---
layout: default
---
<div class="post" >
  <article>
    <h1 style = "font-family: 'Fredericka the Great';">{{ page.title }}</h1>
    <div class="post-categories" style = "font-family: 'Allerta Stencil';">
      Categories:
      {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
    </div>
    <div class="post-tags" style = "font-family: 'Chelsea Market';">
    Tags:
    {% for tag in page.tags %}
    <a href="{{site.baseurl}}/tags/{{ tag }}/">{{ tag }}</a>
    {% endfor %}
    </div>
    <br>
    <div class="entry" style="font-family: 'Pangolin';">
      {{ content | toc }}
    </div>
    {% include components/gitalk.html %}
  </article>
  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
        <a href="{{ site.baseurl }}{{ page.previous.url }}">
          ← Previous
        </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" style="float: right;" >
        <a href="{{ site.baseurl }}{{ page.next.url }}">
          Next →
        </a>
      </span>
    {% endif %}
  </div>
</div>